* 
{
  padding:0;
  margin:0;
}

body 
{
  background-image: url("../images/9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* 固定背景图片 */
}

header 
{
  background-color:transparent;/*rgb(40, 40, 40);*/
  backdrop-filter: blur(0.75px);
  height:80px;
  width:100%;
  position:fixed;    
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

h1 
{
  color: #FDD0A2;
  position:absolute;
  left:120px;
  top:0;
  line-height: 80px;
  width:210px;
}

header ul 
{
  position:absolute;
  right:5vw;
  top:0;
  line-height:80px;
}

header li 
{
  display:inline;
  margin-right:4vw;    
}

header a 
{
  color:#FDD0A2;
  text-decoration: none;
}

header a:hover 
{
  text-decoration: underline;
}

.watermark 
{
  /*background-color: antiquewhite;
  color:rgb(248, 246, 231);
  min-height:92vh;
  background-image: url("../images/9.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;*/
  height:92vh;
  display:flex;
  align-items: cbackground-color rgb(250, 246, 231, 0.7); /* 半透明背景色以显示图片 */
  justify-content:center;
  flex-grow: 1;
}

.watermark h2 
{
  font-size:60px;
  margin-top:60px;
}

footer 
{
  /*background-color:rgb(180, 180, 180);
  color:antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height:8vh;*/
  background-color: transparent;
  color:antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height:8vh; 
}

footer a
{
  color:#FDD0A2;
  text-decoration: none;
}

.menu 
{
  display:none;
}

/* 响应式设计 */
@media screen and (max-width: 768px) 
{
header ul 
{
  display:none;
}

header h1 
{
  left:50%;
  transform: translateX(-50%);
}

.watermark h2 
{
  font-size:40px;
}

.menu 
{
  display:block;
  background-color: transparent;
  color:white;
  font-size: 35px;
  position:absolute;
  top:15px;
  left:20px;
  border:none;
  cursor: pointer;
}
}